.spin-row {
    display: flex;
    flex-direction: row;
    font-size: 56px;
    gap: 56px;
}

#pacanea {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pacanea button {
    margin: 5%;
    width: 30%;
}

@keyframes bookOfRa {
    0% {
        transform: none;
    }
    25% {
        transform: translateY(200%);
    }

    50% {
        transform: translateY(-200%);
    }

    100% {
        transform: none;
    }
}