#mesaj-pagina {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

#pagina-evenimente {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introducere-evenimente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 10px 10px 10px black;
}

#buton-vezi-evenimente {
    width: 30%;
    height: 10%;
}