body {
    background: white !important;
    color: black !important;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#rezervare {
    flex: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid gray;
}

#cos {
    flex: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

#continut {
    display: flex;
    flex-direction: row;

    min-width: 100vw;
    min-height: 100vh;
}