body{
    background-image: url(./assets/images/first-page-background.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
 #text-intro{
    font-size: 500%;
    color:black;
    text-align: center;
 }

 

 .buton-text{
    margin-top:15vh;
 }