
#buton-intro{
    background-color: #97DFFC;
    opacity: 75%;
    color: black;
    padding:1vh;
    position:relative;
    display:flex;
    margin:auto;
    border-radius: 10px;
    font-size: 4vh;
    border: 0;

}

#buton-intro:hover{
    transform: translateY(5px);
    transition: 0.5s;
    box-shadow: #B1946B;
}
