@keyframes ruleta {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1440deg);
    }
}

.buton-spin {
    background-color: red !important;
    width: 5vw !important;
    height: 5vw !important;
    border-radius: 24px !important;
}